<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inspirational Woman</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron container-full-bg "
      style="background-image: url(https://images.unsplash.com/photo-1520439904915-295408872cb4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
    <div class="text-white text-center">
      <h1><strong>Inspirational Woman</strong></h1>
    </div>
  </div>
    
  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/kelly.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  
  <!-- Chart code -->
  <script type="text/javascript" src="static/js/wordcloud.js"></script>
  
  <!-- HTML -->
  <div id="chartdiv"></div>

  <div class="row">
    <div class="col-lg-4 col-sm-4">
      <a href="maps" class="thumbnail">
        <img src="static/images/map_temp.jpg" alt="...">
      </a>
    </div>
    <div class="col-lg-4 col-sm-4">
      <a href="timeline" class="thumbnail">
        <img src="static/images/timeline_temp.jpg" alt="...">
      </a>
    </div>
    <div class="col-lg-4 col-sm-4">
      <a href="plots" class="thumbnail">
        <img src="static/images/plotstat_temp.jpg" alt="...">
      </a>
    </div>
  </div>

</body>
</html>